<div class="level">
  <h1 class="title">Stops</h1>
  <div class="level-item">
    <%= form_with(url: search_stops_path, method: "post") do %>
      <div class="field has-addons">
        <div class="control search-bar">
          <%= text_field_tag :number, "", placeholder:"Stop number", class:"control input" %>
        </div>
        <div class="control">
          <button type="submit" class="button is-success">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @stops %>

<% @stops.each do |stop| %>
<div class="columns">
  <div class="column is-one-fifth"><%= link_to stop.number, stop_path(stop.number) %></div>
  <div class="column"><%= stop.name %></div>
  <div class="column"><%= link_to stop.street.name, stop.street %></div>
  <div class="column"><%= link_to stop.cross_street.name, stop.cross_street %></div>
  </div>
<% end %>


