<h1>Stop Information</h1>

<table class="table">
  <tr><td>Stop number:</td><td><%= @stop.number %></td></tr>
  <tr><td>Stop name:</td><td><%= @stop.name %></td></tr>
  <tr><td>Location:</td><td><%= @stop.street.name %> at <%= @stop.cross_street.name %></td></tr>
</table>

<% unless @routes.empty? %>
  <h2>Routes</h2>
  <ul>
    <% @routes.each do |route| %>
      <li><%= route.number %>|<%= route.name %></li>
    <% end %>
  </ul>

  <h2>Schedule</h2>
  <ul>
    <% @stop.variant_schedules.order('departure').each do |departure| %>
      <li><%= departure.departure %>|Route <%= departure.variant.bus_route.number %>|<%= departure.variant.name %></li>
    <% end %>
  </ul>
<% else %>
  <h2>No stops today!<h2>
<% end %>