<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Transit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vue_components' %>
  </head>

  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to(image_tag("bus-logo.png", alt: "Bus speeding away", title: "Home"), stops_path, class: "navbar-item") %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Stops", stops_path, class: "navbar-item" %>

        <%= link_to "Routes", routes_path, class: "navbar-item" %>

        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to "More", nil, class: "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to "About", about_path, class: "navbar-item" %>
            <%= link_to "ERD", about_erd_path, class: "navbar-item" %>
          </div>
        </div>
      </div>

      <div class="navbar-end">
      </div>
    </div>
  </nav>

  <section class="section">
    <%= yield %>
  </section>
  </body>
</html>
